<div class="container-fluid mt-5 about-style" id="about">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About</h1>
      <p class="text-center sub-heading"><span></span>
       <h3>A car rental company is a business that provides short-term or long-term car rentals to customers. These companies typically own or lease a fleet of vehicles that customers can rent for a specified period of time, usually ranging from a few hours to several weeks or months.
        Customers may rent a car for a variety of reasons, such as business travel, vacation, or to temporarily replace a car that is being repaired. Car rental companies often have a variety of different types of vehicles available, including economy cars, SUVs, luxury cars, and vans.

</h3></span>
<h4>91 8327272222</h4>
<h4>@ludhianarentacar.com</h4>
<h4>Pakhowal Road, Ludhiana</h4></p>
     

       
      </div>
    </div>
  </div>
</div>