<div class="container-fluid mt-5 service-style" id="service">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Features</h1>
                <p class="text-center sub-heading">grow with us</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/thar.png">
                                        </div>
                                           <p><span>Book Car Easily</span></p>
                                    </div>
                                </div>
                                
                            </div>
                               <div class="col-md-4"">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/luxury.jpg">
                                        </div>
                                        <p>luxury Cars Booking</p>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="images/self.jpg">
                                        </div>
                                        <p><span>Self Driven Cars</span></p>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <div class="col-md-12">
          
        </div>

      </div>
    </div>
  </div>
